# Pasta de cache do Visual Studio
.vs/

# Pastas de compilação
[Bb]in/
[Oo]bj/

# Dependências do Node.js 
node_modules/

# Arquivos de usuário
*.user
*.userosscache
*.sln.docstates

# Arquivos de log
*.log


**/appsettings.json
**/appsettings.Development.json
